# .github/dependabot.yml
version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"

  # `npm` value will detect `pnpm` usage
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"